.rss-table {
	border: 1px solid;
	margin:5px;
	padding:5px;
	color: white;
	background-color: navy;
}

.full-width {
	width: 100%;
}

.half-width {
	width: 55%;
}

.third-width {
	width: 30%;
}

.full-height {
	height: 100%;
}

.third-height {
	height: 33%;
}
