<table class="full-width third-height">
    <tr class="full-height">
      <td class="third-width" style="text-align: center;">
          <app-date-time></app-date-time>
          <app-current-weather></app-current-weather>
      </td>
      <td class="full-width full-height">
        <app-future-weather></app-future-weather>
      </td>
    </tr>
  </table>
  <table class="full-height full-width">
    <tr class="full-height" style="border-top: 1px solid;">
      <td class="half-width full-height" style="vertical-align: top">
        <app-news></app-news>
      </td>
      <td class="full-width full-height" style="vertical-align: top">
        <app-disney-news></app-disney-news>
      </td>
    </tr>
  </table>
